######################################
# NOTE: Before running this pipeline to generate a the GitHub Release and new nuget packages, update the VersionPrefix value in Directory.Build.props file
# NOTE: When Directory.Build.props file is modified, this pipeline will automatically get triggered
###################################### 
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - Directory.Build.props   
resources:
  repositories:
  - repository: self
    type: git
    ref: refs/heads/main

jobs:
- job: Phase_1
  displayName: Assessment
  cancelTimeoutInMinutes: 1
  pool:
    name: Azure Pipelines
  steps:
  - checkout: self
    clean: False
    submodules: recursive
    persistCredentials: True

  - task: PowerShell@2
    displayName: 'Extract version number from Directory.Build.props'
    enabled: True
    inputs:
      filePath: .azure/pipelines/extract_version.ps1
      workingDirectory: .azure/pipelines

  - task: UseDotNet@2
    displayName: Use .NET Core sdk 6.0.x - needed for code signing
    inputs:
      version: 6.0.x
  - task: UseDotNet@2
    displayName: Use .NET Core sdk 8.0.x
    inputs:
      version: 8.0.x

  - task: DotNetCoreCLI@2
    displayName: dotnet build
    enabled: True
    inputs:
      projects: '**/Garnet*.csproj'
      arguments: -c Release

  - task: PowerShell@2
    displayName: 'Publish the GarnetServer binaries'
    enabled: True
    inputs:
      filePath: .azure/pipelines/createbinaries.ps1 
      arguments: 1
      workingDirectory: .azure/pipelines

  - task: EsrpCodeSigning@5
    displayName: Sign the binaries for nuget and zipped files
    enabled: True
    inputs:
      ConnectedServiceName: 'GarnetCodeSigningOneCert'
      AppRegistrationClientId: '19bbb452-ce7a-4b3d-bdc4-42a0090e797b'
      AppRegistrationTenantId: '72f988bf-86f1-41af-91ab-2d7cd011db47'
      AuthAKVName: 'GarnetCodeSignKV'
      AuthCertName: 'Garnet-CodeSign-AuthCert'
      AuthSignCertName: 'Garnet-CodeSigning-SigningCertificate'
      FolderPath: .
      Pattern: Garnet*.dll,Tsavorite*.dll,Garnet*.exe,HdrHistogram.dll,native_device.dll,*Lua.dll
      signConfigType: inlineSignParams
      inlineOperation: >-
        [
            {
                  "KeyCode" : "CP-230012",
                  "OperationCode" : "SigntoolSign",
                  "Parameters" : {
                      "OpusName" : "Microsoft",
                      "OpusInfo" : "http://www.microsoft.com",
                      "FileDigest" : "/fd \"SHA256\"",
                      "PageHash" : "/NPH",
                      "TimeStamp" : "/tr \"http://rfc3161.gtm.corp.microsoft.com/TSS/HttpTspServer\" /td sha256"
                  },
                  "ToolName" : "sign",
                  "ToolVersion" : "1.0"
            },
            {
                  "KeyCode" : "CP-230012",
                  "OperationCode" : "SigntoolVerify",
                  "Parameters" : {},
                  "ToolName" : "sign",
                  "ToolVersion" : "1.0"
            }
         ]
      SessionTimeout: 20
      VerboseLogin: true      

  - task: CmdLine@2
    displayName: nuget pack Garnet Library
    inputs:
      workingDirectory: $(System.DefaultWorkingDirectory)
      script: 'dotnet pack --no-build --no-restore --output $(Build.ArtifactStagingDirectory) --include-symbols -p:SymbolPackageFormat=snupkg -p:PackageVersion=$(Build.BuildNumber) /p:Configuration=Release libs/host/Garnet.host.csproj'

  - task: CmdLine@2
    displayName: nuget pack Garnet Server
    inputs:
      workingDirectory: $(System.DefaultWorkingDirectory)
      script: 'dotnet pack --no-build --no-restore --output $(Build.ArtifactStagingDirectory) --include-symbols -p:SymbolPackageFormat=snupkg -p:PackageVersion=$(Build.BuildNumber) /p:Configuration=Release main/GarnetServer/GarnetServer.csproj'

  - task: EsrpCodeSigning@5
    displayName: Sign the NuGet Packages 
    enabled: true
    inputs:
      ConnectedServiceName: 'GarnetCodeSigningOneCert'
      AppRegistrationClientId: '19bbb452-ce7a-4b3d-bdc4-42a0090e797b'
      AppRegistrationTenantId: '72f988bf-86f1-41af-91ab-2d7cd011db47'
      AuthAKVName: 'GarnetCodeSignKV'
      AuthCertName: 'Garnet-CodeSign-AuthCert'
      AuthSignCertName: 'Garnet-CodeSigning-SigningCertificate'
      FolderPath: $(Build.ArtifactStagingDirectory)
      Pattern: Microsoft.Garnet.*.nupkg, garnet-server.*.nupkg
      signConfigType: inlineSignParams
      inlineOperation: >-
        [
            {
                  "KeyCode" : "CP-401405",
                  "OperationCode" : "NuGetSign",
                  "Parameters" : {
                      "OpusName" : "Microsoft",
                      "OpusInfo" : "http://www.microsoft.com",
                      "FileDigest" : "/fd \"SHA256\"",
                      "PageHash" : "/NPH",
                      "TimeStamp" : "/tr \"http://rfc3161.gtm.corp.microsoft.com/TSS/HttpTspServer\" /td sha256"
                  },
                  "ToolName" : "sign",
                  "ToolVersion" : "1.0"
            },
            {
                  "KeyCode" : "CP-401405",
                  "OperationCode" : "NuGetVerify",
                  "Parameters" : {},
                  "ToolName" : "sign",
                  "ToolVersion" : "1.0"
            }
         ]
      SessionTimeout: 20
      VerboseLogin: true

  # Do after Nuget Pack so not part of Nuget Pack
  - task: PowerShell@2
    displayName: 'Zip the GarnetServer binaries'
    enabled: True
    inputs:
      filePath: .azure/pipelines/createbinaries.ps1 
      arguments: 2
      workingDirectory: .azure/pipelines

  - task: CopyFiles@2
    displayName: 'Copy Zipped Files to Artifacts dir: $(Build.artifactstagingdirectory)'
    enabled: True
    inputs:
      Contents: '**'
      SourceFolder: '$(Build.SourcesDirectory)/main/GarnetServer/bin/Release/net8.0/publish/output'
      TargetFolder: $(build.artifactstagingdirectory)

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'
    enabled: True

  - task: GitHubRelease@1
    displayName: 'Create the GitHub release'
    enabled: False
    inputs:
      action: 'create'
      gitHubConnection: ADO_to_Github_ServiceConnection
      tagSource: userSpecifiedTag
      tag: 'v$(Build.BuildNumber)'
      title: 'Garnet v$(Build.BuildNumber)'
      releaseNotesSource: inline
      releaseNotesInline: |
       Get NuGet binaries at:
       * https://www.nuget.org/packages/Microsoft.Garnet

       More information at:
       * https://microsoft.github.io/garnet
       * https://github.com/microsoft/garnet
       * https://www.microsoft.com/en-us/research/project/garnet
     
      assets: |
        $(Build.ArtifactStagingDirectory)/*.nupkg
        $(Build.ArtifactStagingDirectory)/*.zip
        $(Build.ArtifactStagingDirectory)/*.tar.xz
        $(Build.ArtifactStagingDirectory)/*.7z

  - task: NuGetCommand@2
    displayName: 'Push both packages to NuGet.org'
    enabled: False
    inputs:
      command: push
      packagesToPush: '$(Build.ArtifactStagingDirectory)/**/*.nupkg'
      nuGetFeedType: external
      publishFeedCredentials: GarnetADO_to_Nuget