<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
                <Configuration>
					<CodeCoverage>
                        <ModulePaths>
                            <Exclude>
                                <ModulePath>.*\\*[^\\]test.dll</ModulePath>
								<ModulePath>.*\\*[^\\]test.cluster.dll</ModulePath>
								<ModulePath>.*\\*[^\\]testadapter.dll</ModulePath>
                                <ModulePath>.*pipelines.sockets.unofficial.*</ModulePath>
								<ModulePath>.*hdrhistogram.*</ModulePath>
								<ModulePath>.*stackexchange.*</ModulePath>
                                <ModulePath>.*linq.*</ModulePath>
                            </Exclude>
                        </ModulePaths>
						<!-- We recommend you do not change the following values: -->
						<UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>
						<AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>
						<CollectFromChildProcesses>True</CollectFromChildProcesses>
						<CollectAspDotNet>False</CollectAspDotNet>
					</CodeCoverage>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>