/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-font-size-base: 17px;
    --ifm-code-font-size: 90%;

    --ifm-color-primary: #98595a;
    --ifm-color-primary-dark: #905556;
    --ifm-color-primary-darker: #885051;
    --ifm-color-primary-darkest: #704242;
    --ifm-color-primary-light: #aa6e6f;
    --ifm-color-primary-lighter: #ae7677;
    --ifm-color-primary-lightest: #bc8e8e;
    --ifm-navbar-search-input-placeholder-color: #686b6e;
}
/*:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}*/

/* For readability concerns, you should choose a lighter palette in dark mode. */
/*
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
*/


html[data-theme="dark"] {
  --ifm-navbar-search-input-placeholder-color: #8a8d91;
}

.hero {
    background-image: url("/static/img/garnet-bg2-2800x720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Strongest possible overrides for Prism inline colors */
html[data-theme='light'] .theme-code-block pre code .token.function,
html[data-theme='light'] .theme-code-block pre code .token.generic-method {
  color: #cc3745 !important;
}

html[data-theme='light'] .theme-code-block pre code .token.keyword,
html[data-theme='light'] .theme-code-block pre code .token.number {
  color: #257c7a !important;
}

html[data-theme='light'] .theme-code-block pre code .token.comment,
html[data-theme='light'] .theme-code-block pre code .token.prolog,
html[data-theme='light'] .theme-code-block pre code .token.doctype,
html[data-theme='light'] .theme-code-block pre code .token.cdata {
  color: #6e6e61 !important;
}

/* Fallback for code blocks without .theme-code-block */
html[data-theme='light'] pre code .token.function,
html[data-theme='light'] pre code .token.string,
html[data-theme='light'] pre code .token.generic-method {
  color: #cc3745 !important;
}

html[data-theme='light'] pre code .token.keyword,
html[data-theme='light'] pre code .token.number,
html[data-theme='light'] pre code .token.boolean {
  color: #257c7a !important;
}

html[data-theme='light'] pre code .token.comment,
html[data-theme='light'] pre code .token.prolog,
html[data-theme='light'] pre code .token.doctype,
html[data-theme='light'] pre code .token.cdata {
  color: #6e6e61 !important;
}
