<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net8.0\publish\win-x64\</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
  </PropertyGroup>
  <ItemGroup>
      <ProjectReference Include="..\..\hosting\Windows\Garnet.worker\Garnet.worker.csproj" />
  </ItemGroup>
  <Target Name="CopyWorkerDll" AfterTargets="Publish">
	  <ItemGroup>
		  <GWDepsFiles Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\Garnet.Worker.deps.json" />
		  <GWEXEFiles Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\Garnet.worker.exe" />
		  <GWDLLFiles Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\Garnet.worker.dll" />
		  <GWRunTimeConfigFiles Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\Garnet.Worker.runtimeconfig.json" />
		  <DependantDLLFiles Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\*.dll" />
		  <DependantXMLFiles Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\*.xml" />
		  <RuntimeFilesWinx64 Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\runtimes\win-x64\native\*" />
		  <RuntimeFilesWin Include="..\..\hosting\Windows\Garnet.worker\bin\$(Configuration)\net8.0\runtimes\win\lib\net8.0\*" />
	  </ItemGroup>
	  <Copy SourceFiles="@(GWDepsFiles)" DestinationFolder="$(PublishDir)Service" />
	  <Copy SourceFiles="@(GWEXEFiles)" DestinationFolder="$(PublishDir)Service" />
	  <Copy SourceFiles="@(GWDLLFiles)" DestinationFolder="$(PublishDir)Service" />
	  <Copy SourceFiles="@(GWRunTimeConfigFiles)" DestinationFolder="$(PublishDir)Service" />
	  <Copy SourceFiles="@(DependantDLLFiles)" DestinationFolder="$(PublishDir)Service" />
	  <Copy SourceFiles="@(DependantXMLFiles)" DestinationFolder="$(PublishDir)Service" />
	  <Copy SourceFiles="@(RuntimeFilesWinx64)" DestinationFolder="$(PublishDir)Service\runtimes\win-x64\native" />
	  <Copy SourceFiles="@(RuntimeFilesWin)" DestinationFolder="$(PublishDir)Service\runtimes\win\lib\net8.0" />
  </Target>
  <Target Name="DeleteWorkerFiles" AfterTargets="CopyWorkerDll">
	  <Delete Files="$(PublishDir)Garnet.worker.exe" />
	  <Delete Files="$(PublishDir)Garnet.Worker.deps.json" />
	  <Delete Files="$(PublishDir)Garnet.Worker.runtimeconfig.json" />
    <Delete Files="$(PublishDir)Garnet.worker.exe" />
  </Target>
</Project>