{{ template "chart.header" . }}
{{ template "chart.deprecationWarning" . }}

[![Garnet release](https://img.shields.io/github/v/release/microsoft/garnet?sort=semver)](https://github.com/microsoft/garnet/releases/latest) ![Type: application](https://img.shields.io/badge/Type-application-informational?style=flat-square)

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

## Usage

[Helm](https://helm.sh) must be installed to use the charts. Please refer to
Helm's [documentation](https://helm.sh/docs) to get started.

To install the Garnet chart (using an OCI-based registry):

```sh
helm upgrade --install garnet oci://ghcr.io/microsoft/helm-charts/garnet
 ```

To uninstall the chart:

```sh
helm delete garnet
```

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
