name: Garnet Helm Chart

on:
  workflow_dispatch: # allow manual run
  push:
    branches:
      - main
    paths:
      - 'charts/*/Chart.yaml'

permissions:
  contents: write
  packages: write
  pull-requests: write
      
jobs:
  helm-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Install helm
        uses: azure/setup-helm@fe7b79cd5ee1e45176fcad797de68ecaf3ca4814 # v4 for security reasons have pinned tag (commit SHA) for 3rd party
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Install helm-docs
        env:
          HELM_DOCS_VERSION: "1.14.2"
          HELM_DOCS_SHA256: "a8cf72ada34fad93285ba2a452b38bdc5bd52cc9a571236244ec31022928d6cc"
        run: |
          set -euo pipefail

          cd /tmp
          FILENAME="helm-docs_${HELM_DOCS_VERSION}_Linux_x86_64.tar.gz"
          wget "https://github.com/norwoodj/helm-docs/releases/download/v${HELM_DOCS_VERSION}/${FILENAME}"
          
          echo "${HELM_DOCS_SHA256}  ${FILENAME}" | sha256sum -c -
          
          tar -xvf "${FILENAME}"
          sudo mv helm-docs /usr/local/bin

      - name: Set helm chart appVersion from Version.props
        run: |
          export VERSION_PROPS=$(awk -F'[<>]' '/VersionPrefix/{print $3}' Version.props | tr -d '\n')
          sed -i -e 's#Version.props#"'${VERSION_PROPS}'"#g' charts/garnet/Chart.yaml

      - name: Helm lint, helm-docs and helm package
        run: |
          mkdir .cr-release-packages
          for chart in $(find charts -mindepth 1 -maxdepth 1 -type d); do
            if [ -z "${chart:-}" ]; then
              break
            fi
            helm lint "${chart}"
            helm-docs --document-dependency-values --chart-search-root "${chart}"
            helm package "${chart}" --dependency-update --destination .cr-release-packages
          done

      - name: Discard changes on the charts/garnet/Chart.yaml file
        run: |
          git checkout -- charts/garnet/Chart.yaml

      - name: Commit and Push to Branch (no PR)
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          # Create or switch to the branch
          git checkout -B helm-docs-gen
          # Add and commit changes
          git add charts/garnet/README.md
          git commit -m "[helm-chart] Update charts/garnet/README.md by helm-docs" || echo "No changes to commit"
          # Push to remote using GITHUB_TOKEN
          git push -f origin helm-docs-gen

      - name: Login to GHCR
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          echo "${GITHUB_TOKEN}" | helm registry login ghcr.io --username "${GITHUB_ACTOR}" --password-stdin

      - name: Push charts to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*.tgz; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" "oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/helm-charts"
          done
